<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Services</h1>
      <p>
        At Walkers Properties, we offer a range of services tailored to landlords. From finding reliable tenants to handling paperwork, we make the letting process seamless.
        Property Development, we Transform your properties and boost their value with our expert
        development services.
      </p>
    </div>
  </div>
</section>
