---
const stats = [
  {
    name: 'Years',
    value: '25',
  },
  {
    name: 'Experts',
    value: '5',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Tenants',
    value: "1000s",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                At Walkers Property and Letting, our mission is to redefine excellence in property management and letting services. We are dedicated to providing unparalleled support to property owners and landlords, ensuring seamless tenant placements, optimizing property value through strategic development, and maintaining the highest standards of integrity and compliance. With a commitment to transparency, innovation, and client satisfaction, we aim to be the trusted partner that empowers property owners to achieve the highest returns on their property (both rental and resale returns) and tenants to find their ideal homes. At Walkers, we don't just manage properties; we cultivate lasting relationships and elevate the property experience for all parties involved.
            </p>
       
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
