---
const services = [
  {
    name: "Rapid Tenant Placement",
    description:
      "Our expert team will handle the entire process of finding reliable tenants for your property. From thorough screening, viewings (including evenings & weekends) and tenancy agreement management ensuring adherence to relevant legal requirements, we guarantee a seamless and stress-free tenant placement experience.",
  },

  {
    name: "Full Eviction Services",
    description:
      "In unfortunate situations that require eviction, our full eviction services provide comprehensive support. We guide you through the entire legal process, ensuring adherence to all relevant regulations, from serving the correct legal notices and instructing bailiffs to repossess.",
  },
  {
    name: "Ongoing Maintenance",
    description:
      "Enjoy peace of mind with our ongoing maintenance services. We take care of routine maintenance and repairs, ensuring that your property is well-maintained and tenants are satisfied throughout their AST period. We provide Gas Safe and Electricity certification executed by trusted tradesmen",
  },
  {
    name: "Property Development",
    description:
      "Optimize the value of your property with our comprehensive property development services. Whether it's professional advice, renovations, flat conversion, small and large upgrade projects, or strategic enhancements, we focus on maximizing the market value of your investment.",
  },

  {
    name: "Investment Property Strategy and Mentoring",
    description:
      "Unlock the full potential of your property investments with our investment property strategy and mentoring services. Our experts provide valuable insights, guidance, and strategies to help you make informed decisions and increase your investment portfolio.",
  },
  {
    name: "Property Purchasing Assistance",
    description:
      "Navigating the purchase of a rental and development properties can be complex and comes with huge financial risk. Our assistance services provide support throughout the purchasing process, from property search and evaluation to negotiation and completion, ensuring a smooth and profitable acquisition.",
  },
];


---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Services</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
